// Place all the styles related to the Appointments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    width:80%;
    margin:0 auto;
    font-family: Arial, sans-serif;
    font-size: 30px;
    line-height: 1.7;
    padding-bottom: 200px;
    background-color: #191414;
  }
  .submit-button {
    background: #1db954;
    color: #191414;
    cursor: pointer;
    border: 0;
    box-shadow: none;
    border-radius: 0px;
    font-size: 20px;
    padding: 10px;
    width:100%;

  }
  .appointment {
    padding-top: 10px;
    border-bottom: solid 1px #1db954;
    color: #1db954;
  }